$maxWidth: 1300px;
$maxWidthObject: 400px;
$colors: (
  mainColor: #105559,
  accentThree: #176569,
  accentOne: #66adb1c4,
  accentTwo: #ff652e,
  accentFour: rgb(179, 179, 179),
  accentFifth: rgb(99, 99, 99),
  white: #fff,
  green: #819b2b,
  blue1: #2f5ab8,
  redish: #cc4343,
);

$screen: (
  mobile: 500px,
  tablet: 750px,
  desktop: 1200px,
);

@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }

  @warn "Unknown `#{$key}` in $colors.";
  @return null;
}

@function screen($key) {
  @if map-has-key($screen, $key) {
    @return map-get($screen, $key);
  }

  @warn "Unknown `#{$key}` in $screen.";
  @return null;
}
